@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @StringLocalizer["WelcomeMessage"]

</div>
