@{
    ViewData["Title"] = "Lobby Complet";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h2>Le lobby est complet !</h2>
    <p>Désolé, mais ce lobby ne peut pas accepter plus de joueurs.</p>

</body>
</html>
